<h1>Blog World</h1>
<div id="admin">
<%= link_to "Admin Page", admin_dashboard_path %>
</div>
<h3> Blog Posts </h3>
<br>
<% @posts.each do |post| %>
  <li><%= link_to post.title, user_path(post) %></li>
<% end %>
